.socialContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.customIconLink {
  color: #EA580C;
  font-size: 24px;
  transition: color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.customIconLink:hover {
  color: #FFFFFF;
  transform: scale(1.2);
}

.customIcon {
  font-size: 24px;
}
